
/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

/* Pre-loader animation */
/*
.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #666;
  border-top-color: #33cc33;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header Section */
header {
  background-color: #333;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #fff;

    transition-property: border-color, background-color, color;

    transition-duration: .5s;

    transition-timing-function: ease-out;

    background-size: calc(100% - -10px);
    background-position-x:-10px;

    background-image:
    linear-gradient(
        to right,
        #fff,
        #fff
    );
}


nav a:hover {
    background-position-x:-10px;

}
nav a.active {
    background-position-x:-10px;

    color:red;

}
.profile-picture {
    margin-top:-50px; 
}
.name {
    font-size:40px; 
    color:#66CC00; 
    font-weight:bold; 
  }*/
